.orange-bg{
    background-color: rgb(253, 211, 250);
}
.carousel-item{
    padding: 20px 20px;
}
.price-color{
    color: rgb(243, 63, 174);
}
.buy-now-button{
    background-image: linear-gradient(to bottom, red 0%, rgb(236, 98, 116) 100%);
    color: white;
    font-weight: 300;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}
.cat1, .cat2, .cat3{
    padding: 19px 19px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}